@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/* Navigation Bar */
li {
    list-style: none;
}

.navigation-bar{
    background-color: #FEC921;
    position: fixed;
}

.navigation-bar ul li a{
    font-weight: 600;
}

.navbar{
    height: 75px;
}

.navbar li{
    margin-left: 20px;
}

.navbar-nav li a:link,
.navbar-nav li a:visited{
    padding: 5px;
    color: #000000;
    text-decoration: none;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border bottom 0.2s;
}

.navbar-nav li a:hover,
.navbar-nav li a:active{
    border-bottom: 2px solid #FF0000;
}

.navbar-text{
    font-weight: 600;
}

.nav-item a:link,
.nav-item a:visited{
    color: #000000;
}

.nav-link{
    font-size: 16px!important;
}

.linkakun{
    display: inline-block;
}

.header-right {
    float: right;
}

.navbar-collapse{
    margin-top: 15px;
}

.btn:link,
.btn:visited{
    width: 113px;
    height: 41px;
    display: inline-block;
    font-weight: 500;
    text-decoration: none;
    border-radius: 50px;   
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-register:link,
.btn-register:visited{
    border: 2px solid #FF0000;
    color: #FF0000;
}

.navigation-link{
    display: flex;
}

.badge-radius{
    border-radius: 39%!important;
}

/* Login */
.css-1{
    display: flex;
}

.box-left{
    background-color: #FEC921;
    display: inline-grid;
    place-items: center;
    margin: 0;
}

.image-left{
    width: 633px;
}

.image-right{
    width: 733px;
}

.css-2{
    padding: 2.5rem 2rem;
}

.image-geser{
    margin-left: 80px;
}

.gambar-login{
    margin-top: 68px;
}

.tulisan-login{
    font-weight: 700;
    font-size: 44px;
    text-align: center;
    margin-top: 150px;
}

.form-size{
    width: 432px;
}

.perintah{
    font-weight: 500;
}

.login-position{
    margin-left: 144px;
    margin-top: 37px;
}

.check-login-position{
    margin-left: 144px;
}

.btn-submit{
    width: 432px;
    margin-left: 144px;
}

button.btn.btn-primary.btn-submit{
    background-color: #FF0000;
    border-color: #FF0000;
}

.btn-forgot{
    color: #FF0000;
    font-weight: 500;
    font-size: 16px;
}

.btn-forgot:link,
.btn-forgot:visited{
    color: #FF0000;
}

a.btn.btn-link.btn-forgot {
    font-weight: 500;
    width: auto;
}

.text-forgot{
    text-align: center;
    margin-top: 20px;
    margin-left: 24px;
}

.linktoregister{
    color: #FF0000;
}

.belumpunya{
    font-weight: 500;
    text-align: center;
    margin-left: 52px;
}

/* Register */
.gambar-register{
    margin-top: 128px;
}

.register-image-left{
    width: 505px;
    height: 700px;    
}

.register-image-right{
    width: 861px;
}

.tulisan-register{
    font-weight: 700;
    font-size: 44px;
    text-align: center;
    margin-top: 66px;
}

.text-md-left{
    margin-left: 50px;
}

.form-register{
    margin-top: 62px;
}

.pilih-jenkel{
    display: flex;
}

.pilih-jenkel:last-child{
    margin-top: 7px;
}

.pilihan:last-child{
    padding-left: 86px;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #FF0000;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

/* Home */
.tulisan{
    font-weight: 700;
    font-size: 44px;
    margin-top: 209px;
}

.caption{
    margin-top: 18px;
}

.gambarhome{
    margin-left: 92px;
}

.fas-hidden{
    color: transparent;
}

.alamat-mieeco{
    color: #4e4e4e;
}

.alamat-mieeco h4{
    font-weight: 700;
}

.judul-lokasi{
    font-weight: 700;
    font-size: 44px;
    color: #000000;
}

.lokasi{
    padding: 70px 0;
}

/* Menu */
.daftar-menu{
    font-weight: 700;
    font-size: 44px;
    margin-top: 10.79136690647482vh;
}

.gambar-menu{
    width: 100%;
    margin: 0;
}

.card-gambar{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.nama-menu{
    font-size: 24px;
}

.harga{
    font-weight: 700;
    font-size: 24px;
}

.card-text{
    font-weight: 400;
    font-size: 24px;
}

.deskripsi {
    font-weight: 400;
    font-size: 16px;
}

.btn-pesan:link,
.btn-pesan:visited{
    background-color: #FF0000;
    border-color: #FF0000;
}

a.btn.btn-primary.btn-pesan:hover,
a.btn.btn-primary.btn-pesan:active{
    background-color: #FF0000;
    border-color: #FF0000;
}

p{
    margin-bottom: auto;
}

/* Contact */
.contact-follow{
    font-weight: 600;
}

.contact-medsos{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #000000;
}

.contact-medsos:hover,
.contact-medsos:active{
    border-bottom: none!important;
}

.small-headline-card{
    background-color: #FEC921;
    padding: 5px;
}

.contact-lokasi{
    padding-left: 0!important;
    text-align: center;
}

.contact-lokasi-header{
    font-size: 24px;    
}

/* Menu - Pesan */
button.btn.btn-primary.btn-custom {
    color: white;
    background-color: #FF0000;
    border-color:  #FF0000;
}

.btn-custom:hover,
.btn-custom:active{
    color: #fff;
    background-color: #FF0000;
    border-color: #FF0000;
}

.judulmenu{
    font-weight: 500;
}

.product-card{
    margin-top: 1.25rem;
}

ol.breadcrumb{
    background-color: white;
    padding-bottom: 0;
    margin-bottom: 0;
}

/* Profile */
.profil-saya-header{
    padding-top: 20px;
}

.profil-saya-header-title{
    font-weight: 600;
    font-size: 20px;
    margin-top: 20px;
}

.profil-saya-header-sub{
    margin-top: 3px;
}

.profil-saya-main{
    margin-top: 20px;
}

.line-color{
    color: rgba(0,0,0,.38);
}

button.btn.btn-simpan{
    color: #fff;
    background-color: #FF0000;
    border-color: #FF0000;
}

.btn-simpan:hover,
.btn-simpan:active{
    color: #fff;
    background-color: #FF0000;
    border-color: #FF0000;
}

/* Cart */
.cart-page-menu{
    width: 46.27949%;    
}

.cart-page-namamenu{
    padding-left: 0!important;
    padding-right: 0!important;
}

.cart-page-catatan{
    padding-left: 0!important;
    padding-right: 0!important;
}

.btn-cart{
    font-size: 14px;
    font-weight: 500;
    border-radius: 20px;
}

a.btn.btn-success.btn-cart{
    font-size: 14px;
    width: 100%;
}

/* Detail Pemesanan */
.img-contoh{
    object-fit: cover;
}

/* History Pemesanan */
.img-bukti-foto{
    width: 100%;
    max-width: 400px;
    height: auto;
}

.order-announcement{
    padding-left: 0;
}

.th-menu{
    text-align: center;
}

/* Pesan - Admin */
.pesan-judul {
    padding-left: 8px;
}

/* Footer */
.footer{
    background-color: #FEC921;
    padding: 27px 0;
}

.sitemaplist{
    list-style: none;
    padding: 4px 0;
}

.sitemaplist li{
    padding-bottom: 20px;
}

.sitemaplist a:link,
.sitemaplist a:visited{
    color: #000000;
    font-weight: 500;
    font-size: 16px;
}

.text-claps{
    font-weight: 700;
    font-size: 24px;
}

.grab-food{
    margin-left: 49px;
}

.medsos:link,
.medsos:visited{
    color: #000000;
    font-weight: 500;
}

.facebook{
    margin-top: 19px;
}

.me-line{
    border-top: 1px solid;
    margin-top: 10px;
    width: 100%;
}

.copyright{
    text-align: center;
    margin-top: 5px;
}
